{% load static %}
<div class="col-lg-4">
    <div class="summary__wrapper--sidebar">
        <div class="summary__wrapper-stickly">
            <div class="summary__wrapper">
                <div class="summary__item summary__item--essaytitle">
                    <div class="summary__title">Summary</div>
                </div>

                <div class="summary_pane scroll-pane ">                        
                    <div class="summary__item summary__item--essayblock ">
                    
                    <div class="top_for_client--block"><span class="top_for_client"></span><span class="top_for_client--price base-price-summary"></span></div>
                                                                                                            
                        <p class="top_for_client--block top_for_client-light">Quantity: <span class="quantity_for_client"></span></p>
                        <div class="top_for_client--block  top_for_client-light ">
                            <span class="top_client-name">Deadline:</span> <span class="deadline_for_client">24 Aug 2019, 2:00 PM</span>                             
                        </div> 
                        <div class="top_for_client--block top_for_client-light">
                            <span class="top_client-name">Academic Level:</span>
                            <span class="aclevel_for_client"><span></span></span>                               
                        </div> 
                        <div class="top_for_client--block top_for_client-light" style="display:none;">
                            <span class="top_client-name">Subject area:</span>
                                                        
                        </div>
                        <div class="top_for_client--block top_for_client-light">
                            <span class="top_client-name">Slides:</span>
                            <span class="slides_for_client"><span></span></span>
                        </div>
                    </div>
                    <div class="summary__item charts_graph-summary" style="display:none;">
                        <div class="top_for_client--block"><span class="top_for_extras--name">Charts &amp; Graphs</span><span class="top_for_extras--price">$9.99</span></div>
                    </div>                                  
                </div>


                <div class="price-all-con">                            
                    <div class="price-all-container">
                        <div class="price-all-container-bl">
                            <div class="total-price"><span>TOTAL</span><span class="price" data-ph-tst="of-prc">$14.00</span></div>

                            <div class="total-price-approx" style="display:none;">
                                <div class="d-flex justify-content-between">
                                    <span>Approximately</span>
                                    <div class="price-approx-inner">
                                        <span class="price-approx">$14.00</span>
                                        <span class="info-tooltip" data-tooltip="The payment will be processed in USD. If your card-issuing company or bank uses a different currency, the final transaction price may differ due to currency exchange rates."></span>
                                    </div>
                                </div>
                            </div>                                    

                            <div class="old-price" style="display:none"><span></span></div>
                                    
                            <div class="save-price-description" style="display:none;color: #818181;font-size: 12px;">
                                You save $<span class="save-price-span">26.00</span>
                                <span class="bonus-price-span-holder">
                                    now and get 
                                    $<span class="bonus-price-span-description">0</span> 
                                    for next order
                                </span>

                            </div>                                            
                        </div>
                    </div>   
                </div>
                <div class="discount__container">
                    <div class="link-discount__block">
                        <div class="d-flex">
                            <div   class="link-discount-price"><span class="text-decoration">Enter a promo code</span> <span class="discount-optional">(optional)</span></div>
                            <div  style="display:none;" class="link-discount-price-approved"><span class="text-decoration"><span class="glyphicon glyphicon-ok" ></span>Promo code applied</span></div>
                        </div>
                        <input type="text" class="form-control" placeholder="promo code ACGIS">
                    </div>                        
                </div>                        
            </div>
            <div  id="tab-3">
                <div class="back-responsive tabs d-flex justify-content-center justify-content-md-between justify-content-lg-end">
                    <div class="go-back nav-step go_back_link d-none-back-button d-lg-none back-button"><span>GO </span>Back</div>
                    <button type="submit" class="go-step-mobile btn-check btn-continue next-btn-step nav-step d-flex go-to-step-2" data-ph-tst="of-checkt-btn"><span>NEXT</span></button>
                </div>
            </div>
        </div>
    </div>  
</div>