{% load static %}
<section class="sampl sampl__serv">
    <div class="container">
        <div class="title-top">Don't trust words, trust actions</div>
        <h2 class="title">See samples of our papers!</h2>
        <p>Nothing speaks better of our expertise than the samples written by our top authors. See for yourself!</p>
        <div class="sampl__wrap">
            <div class="sampl__card-wrap">
                <div class="sampl__card">
                    <div class="sampl__card-top">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="48" fill="none"><path d="M0 4a4 4 0 0 1 4-4h16c11.046 0 20 8.954 20 20v24a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4z" fill="#fafafa" /><path opacity=".2" d="M11 17a1 1 0 1 0 0 2v-2zm18 2a1 1 0 1 0 0-2v2zm-18 4a1 1 0 1 0 0 2v-2zm14 2a1 1 0 1 0 0-2v2zm-14 4a1 1 0 1 0 0 2v-2zm18 2a1 1 0 1 0 0-2v2zm-18 4a1 1 0 1 0 0 2v-2zm14 2a1 1 0 1 0 0-2v2zM11 19h18v-2H11v2zm0 6h14v-2H11v2zm0 6h18v-2H11v2zm0 6h14v-2H11v2z" fill="#000" /></svg>
                        <div class="sampl__card-r">
                            <div class="sampl__card-tit">Acupuncture as a Complementary Therapy [Research Paper]</div>
                            <span class="sampl__card-w">20,2 kb</span>
                        </div>
                    </div>
                    <ul class="sampl__list">
                        <li>
                            <div class="sampl__list-tit">High School</div>
                            <span>College</span>
                        </li>
                        <li>
                            <div class="sampl__list-tit">5 pages</div>
                            <span>Quantity</span>
                        </li>
                        <li>
                            <div class="sampl__list-tit">1 day</div>
                            <span>Deadline</span>
                        </li>
                    </ul>
                    <a href="" class="sampl__btn" target="_blank" download>
                        Download
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="13" fill="none"><path d="M5 9l-.707.707a1 1 0 0 0 1.414 0L5 9zm1-8a1 1 0 1 0-2 0h2zm3.707 4.707a1 1 0 1 0-1.414-1.414l1.414 1.414zm-8-1.414A1 1 0 1 0 .293 5.707l1.414-1.414zM9 13a1 1 0 1 0 0-2v2zm-8-2a1 1 0 0 0 0 2v-2zm5-2V1H4v8h2zm-.293.707l4-4-1.414-1.414-4 4 1.414 1.414zm0-1.414l-4-4L.293 5.707l4 4 1.414-1.414zM9 11H1v2h8v-2z" fill="#fe9000" /></svg>
                    </a>
                </div>
            </div>
            <div class="sampl__card-wrap">
                <div class="sampl__card">
                    <div class="sampl__card-top">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="48" fill="none"><path d="M0 4a4 4 0 0 1 4-4h16c11.046 0 20 8.954 20 20v24a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4z" fill="#fafafa" /><path opacity=".2" d="M11 17a1 1 0 1 0 0 2v-2zm18 2a1 1 0 1 0 0-2v2zm-18 4a1 1 0 1 0 0 2v-2zm14 2a1 1 0 1 0 0-2v2zm-14 4a1 1 0 1 0 0 2v-2zm18 2a1 1 0 1 0 0-2v2zm-18 4a1 1 0 1 0 0 2v-2zm14 2a1 1 0 1 0 0-2v2zM11 19h18v-2H11v2zm0 6h14v-2H11v2zm0 6h18v-2H11v2zm0 6h14v-2H11v2z" fill="#000" /></svg>
                        <div class="sampl__card-r">
                            <div class="sampl__card-tit">Influence of Feminist Theories on the Study of Globalization</div>
                            <span class="sampl__card-w">333,0 kb</span>
                        </div>
                    </div>
                    <ul class="sampl__list">
                        <li>
                            <div class="sampl__list-tit">High School</div>
                            <span>PhD</span>
                        </li>
                        <li>
                            <div class="sampl__list-tit">7 pages</div>
                            <span>Quantity</span>
                        </li>
                        <li>
                            <div class="sampl__list-tit">3 days</div>
                            <span>Deadline</span>
                        </li>
                    </ul>
                    <a href="" class="sampl__btn" target="_blank" download>
                        Download
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="13" fill="none"><path d="M5 9l-.707.707a1 1 0 0 0 1.414 0L5 9zm1-8a1 1 0 1 0-2 0h2zm3.707 4.707a1 1 0 1 0-1.414-1.414l1.414 1.414zm-8-1.414A1 1 0 1 0 .293 5.707l1.414-1.414zM9 13a1 1 0 1 0 0-2v2zm-8-2a1 1 0 0 0 0 2v-2zm5-2V1H4v8h2zm-.293.707l4-4-1.414-1.414-4 4 1.414 1.414zm0-1.414l-4-4L.293 5.707l4 4 1.414-1.414zM9 11H1v2h8v-2z" fill="#fe9000" /></svg>
                    </a>
                </div>
            </div>
            <div class="sampl__card-wrap">
                <div class="sampl__card">
                    <div class="sampl__card-top">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="48" fill="none"><path d="M0 4a4 4 0 0 1 4-4h16c11.046 0 20 8.954 20 20v24a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4z" fill="#fafafa" /><path opacity=".2" d="M11 17a1 1 0 1 0 0 2v-2zm18 2a1 1 0 1 0 0-2v2zm-18 4a1 1 0 1 0 0 2v-2zm14 2a1 1 0 1 0 0-2v2zm-14 4a1 1 0 1 0 0 2v-2zm18 2a1 1 0 1 0 0-2v2zm-18 4a1 1 0 1 0 0 2v-2zm14 2a1 1 0 1 0 0-2v2zM11 19h18v-2H11v2zm0 6h14v-2H11v2zm0 6h18v-2H11v2zm0 6h14v-2H11v2z" fill="#000" /></svg>
                        <div class="sampl__card-r">
                            <div class="sampl__card-tit">Conscious Capitalism [Annotated Bibliography]</div>
                            <span class="sampl__card-w">123,00 kb</span>
                        </div>
                    </div>
                    <ul class="sampl__list">
                        <li>
                            <div class="sampl__list-tit">High School</div>
                            <span>University</span>
                        </li>
                        <li>
                            <div class="sampl__list-tit">4 pages</div>
                            <span>Quantity</span>
                        </li>
                        <li>
                            <div class="sampl__list-tit">5 days</div>
                            <span>Deadline</span>
                        </li>
                    </ul>
                    <a href="" class="sampl__btn" target="_blank" download>
                        Download
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="13" fill="none"><path d="M5 9l-.707.707a1 1 0 0 0 1.414 0L5 9zm1-8a1 1 0 1 0-2 0h2zm3.707 4.707a1 1 0 1 0-1.414-1.414l1.414 1.414zm-8-1.414A1 1 0 1 0 .293 5.707l1.414-1.414zM9 13a1 1 0 1 0 0-2v2zm-8-2a1 1 0 0 0 0 2v-2zm5-2V1H4v8h2zm-.293.707l4-4-1.414-1.414-4 4 1.414 1.414zm0-1.414l-4-4L.293 5.707l4 4 1.414-1.414zM9 11H1v2h8v-2z" fill="#fe9000" /></svg>
                    </a>
                </div>
            </div>            
          
        </div>
        <div class="sampl__order">
            <div class="sampl__order-left">
                <div class="sampl__order-tit">Get a research paper!</div>
                <p>Fill out an form and receive your A-grade paper.</p>
            </div>
            <a href="" class="btn sampl__order-btn">
                Place an Order
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" fill="none"><path d="M11 5l.707.707a1 1 0 0 0 0-1.414L11 5zM1 4a1 1 0 1 0 0 2V4zM7.707.293a1 1 0 1 0-1.414 1.414L7.707.293zm-1.414 8a1 1 0 1 0 1.414 1.414L6.293 8.293zM11 4H1v2h10V4zm.707.293l-4-4-1.414 1.414 4 4 1.414-1.414zm-1.414 0l-4 4 1.414 1.414 4-4-1.414-1.414z" fill="#fff" /></svg>
            </a>
        </div>
    </div>
</section>