{% load static %}

<section class="writers">
    <div class="container">
        <div class="title-top">Only Professional specialists</div>
        <h2 class="title">Writers for Hire</h2>
        <p class="writers__text">We have many professional writers with an inspiring story. It was indeed a challenge to choose just five of them. Meet our team! </p>
        <div class="writers__wrap" data-writers>
            <div class="writers__card-wrap">
                <div class="writers__card">
                    <div class="writers__card-topwrap">
                        <div class="writers__card-top">
                            <div class="writers__auth">
                                <div class="writers__foto"><img src="{% static 'img/1.png' %}" alt="Katrina Stott"></div>
                                <div class="writers__name"><span class="writers__tit">Katrina Stott</span> <span class="writers__who">MA in History</span></div>
                            </div>
                            <a href="" class="btn writers__btn">
                                Hire writer
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" fill="none"><path d="M1 4a1 1 0 1 0 0 2V4zm9 1l.707.707a1 1 0 0 0 0-1.414L10 5zM7.207.793a1 1 0 0 0-1.414 1.414L7.207.793zm-1.414 7a1 1 0 1 0 1.414 1.414L5.793 7.793zM1 6h9V4H1v2zm9.707-1.707l-3.5-3.5-1.414 1.414 3.5 3.5 1.414-1.414zm-1.414 0l-3.5 3.5 1.414 1.414 3.5-3.5-1.414-1.414z" fill="#fff" /></svg>
                            </a>
                        </div>
                        <div class="stud__txt">
                            <p>I'm a professional writer with a Psychology and Sociology degree and a particular interest in inequality and social cohesion. I can easily go beyond my specialization and elaborate on other topics. I provide well-structured essays and always back my points with research. </p>
                        </div>
                    </div>
                    <div class="writers__bot">
                        <div class="writers__bot-l">
                            <div class="writers__bot-t">
                                <span class="writers__rate">4,9</span>
                                <div class="stars">
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span style="width: 90%;"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                </div>
                            </div>
                            <span class="writers__titsm">Rating</span>
                        </div>
                        <div class="writers__bot-r">
                            <div class="writers__bot-t"><span class="writers__rate">771</span></div>
                            <span class="writers__titsm">Completed Orders</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="writers__card-wrap">
                <div class="writers__card">
                    <div class="writers__card-topwrap">
                        <div class="writers__card-top">
                            <div class="writers__auth">
                                <div class="writers__foto"><img src="{% static 'img/2.png' %}" alt="Amber Storey"></div>
                                <div class="writers__name"><span class="writers__tit">Amber Storey</span> <span class="writers__who">MA in History</span></div>
                            </div>
                            <a href="" class="btn writers__btn">
                                Hire writer
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" fill="none"><path d="M1 4a1 1 0 1 0 0 2V4zm9 1l.707.707a1 1 0 0 0 0-1.414L10 5zM7.207.793a1 1 0 0 0-1.414 1.414L7.207.793zm-1.414 7a1 1 0 1 0 1.414 1.414L5.793 7.793zM1 6h9V4H1v2zm9.707-1.707l-3.5-3.5-1.414 1.414 3.5 3.5 1.414-1.414zm-1.414 0l-3.5 3.5 1.414 1.414 3.5-3.5-1.414-1.414z" fill="#fff" /></svg>
                            </a>
                        </div>
                        <div class="stud__txt">
                            <p>I have a Master's degree in Mechanics and Physics and a love for the English language and literature. Essay writing is a way for me to merge two of my passions and prevent more students from turning their backs on physics.</p>
                        </div>
                    </div>
                    <div class="writers__bot">
                        <div class="writers__bot-l">
                            <div class="writers__bot-t">
                                <span class="writers__rate">4,6</span>
                                <div class="stars">
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span style="width: 60%;"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                </div>
                            </div>
                            <span class="writers__titsm">Rating</span>
                        </div>
                        <div class="writers__bot-r">
                            <div class="writers__bot-t"><span class="writers__rate">813</span></div>
                            <span class="writers__titsm">Completed Orders</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="writers__card-wrap">
                <div class="writers__card">
                    <div class="writers__card-topwrap">
                        <div class="writers__card-top">
                            <div class="writers__auth">
                                <div class="writers__foto"><img src="{% static 'img/3.png' %}" alt="Jason Leal"></div>
                                <div class="writers__name"><span class="writers__tit">Jason Leal</span> <span class="writers__who">MA in History</span></div>
                            </div>
                            <a href="" class="btn writers__btn">
                                Hire writer
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" fill="none"><path d="M1 4a1 1 0 1 0 0 2V4zm9 1l.707.707a1 1 0 0 0 0-1.414L10 5zM7.207.793a1 1 0 0 0-1.414 1.414L7.207.793zm-1.414 7a1 1 0 1 0 1.414 1.414L5.793 7.793zM1 6h9V4H1v2zm9.707-1.707l-3.5-3.5-1.414 1.414 3.5 3.5 1.414-1.414zm-1.414 0l-3.5 3.5 1.414 1.414 3.5-3.5-1.414-1.414z" fill="#fff" /></svg>
                            </a>
                        </div>
                        <div class="stud__txt">
                            <p>I'm a professional writer majoring in English language and journalism. I can cover many topics and, if needed, adjust my writing style to match your voice. I understand that not everyone can express themselves on paper or have time to do so. I will be happy to help you achieve the highest grades. </p>
                        </div>
                    </div>
                    <div class="writers__bot">
                        <div class="writers__bot-l">
                            <div class="writers__bot-t">
                                <span class="writers__rate">4,4</span>
                                <div class="stars">
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span style="width: 40%;"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                </div>
                            </div>
                            <span class="writers__titsm">Rating</span>
                        </div>
                        <div class="writers__bot-r">
                            <div class="writers__bot-t"><span class="writers__rate">408</span></div>
                            <span class="writers__titsm">Completed Orders</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="writers__card-wrap">
                <div class="writers__card">
                    <div class="writers__card-topwrap">
                        <div class="writers__card-top">
                            <div class="writers__auth">
                                <div class="writers__foto"><img src="{% static 'img/4.png' %}" alt="Eric Acevedo"></div>
                                <div class="writers__name"><span class="writers__tit">Eric Acevedo </span> <span class="writers__who">MA in History</span></div>
                            </div>
                            <a href="" class="btn writers__btn">
                                Hire writer
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" fill="none"><path d="M1 4a1 1 0 1 0 0 2V4zm9 1l.707.707a1 1 0 0 0 0-1.414L10 5zM7.207.793a1 1 0 0 0-1.414 1.414L7.207.793zm-1.414 7a1 1 0 1 0 1.414 1.414L5.793 7.793zM1 6h9V4H1v2zm9.707-1.707l-3.5-3.5-1.414 1.414 3.5 3.5 1.414-1.414zm-1.414 0l-3.5 3.5 1.414 1.414 3.5-3.5-1.414-1.414z" fill="#fff" /></svg>
                            </a>
                        </div>
                        <div class="stud__txt">
                            <p>I'm an English language tutor and professional writer. With over five years of experience, I can confidently say I can deliver a good quality essay on almost any topic. I'm familiar with different formats of papers and can finish an assignment in the shortest time frame. </p>
                        </div>
                    </div>
                    <div class="writers__bot">
                        <div class="writers__bot-l">
                            <div class="writers__bot-t">
                                <span class="writers__rate">4,8</span>
                                <div class="stars">
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span style="width: 80%;"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                </div>
                            </div>
                            <span class="writers__titsm">Rating</span>
                        </div>
                        <div class="writers__bot-r">
                            <div class="writers__bot-t"><span class="writers__rate">687</span></div>
                            <span class="writers__titsm">Completed Orders</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="writers__card-wrap">
                <div class="writers__card">
                    <div class="writers__card-topwrap">
                        <div class="writers__card-top">
                            <div class="writers__auth">
                                <div class="writers__foto"><img src="{% static 'img/5.png' %}" alt="Adrian Traynor"></div>
                                <div class="writers__name"><span class="writers__tit">Adrian Traynor</span> <span class="writers__who">MA in History</span></div>
                            </div>
                            <a href="" class="btn writers__btn">
                                Hire writer
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" fill="none"><path d="M1 4a1 1 0 1 0 0 2V4zm9 1l.707.707a1 1 0 0 0 0-1.414L10 5zM7.207.793a1 1 0 0 0-1.414 1.414L7.207.793zm-1.414 7a1 1 0 1 0 1.414 1.414L5.793 7.793zM1 6h9V4H1v2zm9.707-1.707l-3.5-3.5-1.414 1.414 3.5 3.5 1.414-1.414zm-1.414 0l-3.5 3.5 1.414 1.414 3.5-3.5-1.414-1.414z" fill="#fff" /></svg>
                            </a>
                        </div>
                        <div class="stud__txt">
                            <p>For the past three years, I've been helping college and university students with their papers on science and technology topics. I always double-check the requirements, stick to the structure, and keep my sources fresh. </p>
                        </div>
                    </div>
                    <div class="writers__bot">
                        <div class="writers__bot-l">
                            <div class="writers__bot-t">
                                <span class="writers__rate">4,3</span>
                                <div class="stars">
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                    <div class="rating__star"><span style="width: 30%;"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none"><path d="M13.19 4.517L9.222 3.94 7.448.345C7.4.247 7.32.167 7.222.12a.5.5 0 0 0-.67.227L4.778 3.94.81 4.517a.5.5 0 0 0-.286.145.5.5 0 0 0 .009.708l2.87 2.798-.678 3.952a.5.5 0 0 0 .199.489.5.5 0 0 0 .526.038L7 10.78l3.548 1.866c.097.052.21.07.317.05a.5.5 0 0 0 .408-.576l-.678-3.952 2.87-2.798a.5.5 0 0 0-.277-.853z" fill="#000" /></svg></span></div>
                                </div>
                            </div>
                            <span class="writers__titsm">Rating</span>
                        </div>
                        <div class="writers__bot-r">
                            <div class="writers__bot-t"><span class="writers__rate">119</span></div>
                            <span class="writers__titsm">Completed Orders</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>