
<!DOCTYPE html>
{% load static %}
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&family=Nanum+Pen+Script&family=Sora:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
	<title>{% block title %}Write My Essay for Me | {% endblock title %}</title>
	<meta name="description" content="Hey, If only someone could write my essay for me. Here we are! WriteMyEssays.me delivers custom, high-quality papers✍️. 100% plagiarism-free, always on time, and at a reasonable price. Free yourself some time!" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Write My Essay for Me | Custom &amp; Legit Essay Writing Service at $6.99/Page" />
	<meta property="og:description" content="Hey, If only someone could write my essay for me. Here we are! WriteMyEssays.me delivers custom, high-quality papers✍️. 100% plagiarism-free, always on time, and at a reasonable price. Free yourself some time!" />
	<meta property="og:site_name" content="WriteMyEssay.me" />
	<meta property="article:modified_time" content="2021-05-20T15:06:08+00:00" />
	<meta name="twitter:card" content="summary_large_image" />

<link rel='stylesheet' id='wp-block-library-css'  href='{% static "css/style.min.css" %}' type='text/css' media='all' />
<link rel='stylesheet' id='main-css'  href='{% static "css/main.css" %}' type='text/css' media='all' />
<link rel='stylesheet' id='mobile-css'  href='{% static "css/mobile.css" %}' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='{% static "css/style.css" %}' type='text/css' media='all' />
{% block extrahead %}
    
{% endblock extrahead %}
</head>
<body class="home page-template-default page page-id-19">


<div class="black-scr" data-blkscr></div>
<div class="wrap">
	<div class="wrap__head" data-head>
        {% include "sections/core/sections/header.html" %}
	</div>


    {% block content %}
      
    {% endblock content %}



{% include "sections/core/sections/footer.html" %}

</div>
<div class="cookies" data-cookies>
	<div class="container">
		<div class="cookies__wrap">
			<p><a href="">This site uses cookies</a></p>
			<a href="javascript:void(0);" class="btn cookies__btn">Okay</a>
		</div>
	</div>
</div>

<link rel='stylesheet' id='fancybox-css'  href='{% static "css/jquery.fancybox.min.css" %}' type='text/css' media='all' />
<link rel='stylesheet' id='slick-css'  href='{% static "css/slick.css" %}' type='text/css' media='all' />
<link rel='stylesheet' id='slick-theme-css'  href='{% static "css/slick-theme.css" %}' type='text/css' media='all' />
<script type='text/javascript' src='{% static "js/wp-embed.min.js" %}' id='wp-embed-js'></script>
<script type='text/javascript' src='{% static "js/jquery-3.4.1.min.js" %}' id='jquery-js'></script>
<script type='text/javascript' src='{% static "js/readmore.min.js" %}' id='readmore-js'></script>
<script type='text/javascript' src='{% static "js/jquery.fancybox.min.js" %}' id='fancybox-js'></script>
<script type='text/javascript' src='{% static "js/slick.js" %}' id='slick-js'></script>
<script type='text/javascript' src='{% static "js/js/main.js" %}' id='main-js'></script>

<!--script-->


    <script src="{% static 'js/jquery.js' %}"></script>
    <script defer src="{% static 'js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'js/moment.js' %}"></script>
    <script defer src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
    <script defer src="{% static 'js/select2.min.js' %}"></script>
    <script defer src="{% static 'js/slick.min.js' %}"></script>
    <script defer src="{% static 'js/jquery.paginate.js' %}"></script>
    <script defer src="{% static 'js/main.js' %}"></script>


    <script defer type="text/javascript" src="{% static 'js/data_count_price.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/order_count_price.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/jquery.transilt.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/sign_up_email.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/aos.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/data_layer.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/readmore.js' %}"></script>


    {% block extrajs %}
      
    {% endblock extrajs %}


    <link rel="stylesheet" href="{% static 'css/lottie.css' %}">
    <div id="lottie-wrapper">
            <div id="lottie-block">
                <div id="contactButton">
                    <a id="shadow-element" class="contact-button shadow"></a>
                    <a id="contacts-btn" title="talk" style="cursor: pointer" class="main-button contact-button contact-button-in" role="button"></a>
                </div>
            </div>
        </div>
</body>
</html>
