{% extends "base.html" %}
{% block title %}
  
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock extrahead %}

{% block content %}

<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>Studdit: Your homework help is here. Any subject. Any deadline</title>
    <meta name="description"
          content="We do all types of academic assignments. Whatever the deadline, complexity, or subject is - solution is here in our professional hands!">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script defer src="https://writemyessay.me/js/jquery.cookie.min.js"></script>


    
</head>
<body>


<script defer src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<!-- 
<script  type="text/javascript" src="https://writemyessay.me/public/js/data_count_price.js?v=1"></script>
<script  type="text/javascript" src="https://writemyessay.me/public/js/order_count_price.js?v=1"></script> -->

    <section class="order-wrapper-container">

<link rel="stylesheet" href="{% static 'css/order1.css' %}">


    
    


    <div class="order-form-container">

        <div class="order-form-container__background"></div>
        <div class="container"  >
            
            <div class="form-wrap mt-5">

            {% block order %}
            {% endblock order %}
    </div>
</div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script defer src="https://writemyessay.me/public/jscrollpane/jquery.jscrollpane.min.js"></script>
    <script  defer src="https://writemyessay.me/public/jscrollpane/jquery.mousewheel.js"></script>

    <script defer type="text/javascript" src="https://writemyessay.me/public/order_form_PH2020/js/ajax.js?v=1.2.4"></script>
    <script defer type="text/javascript" src="https://writemyessay.me/public/order_form_PH2020/js/jquery.validate.js"></script>
    <script defer type="text/javascript" src="https://writemyessay.me/public/order_form_PH2020/js/jquery.validate.custom.js"></script>
        <script defer type="text/javascript" src="https://writemyessay.me/public/order_form_PH2020/js/main.js?v=1674580368"></script>
    
</body>
</html>

                                                                                                                                {% endblock content %}