{% extends "order/base.html" %}

{% block order %}
<form  method="" id="_order_form" class="" enctype="multipart/form-data" >
    <div class="row justify-content-center">
    <div class="order-setep__wrapper">    
    <div id="order-form" class="order-form-pay">  
                                      
        <div class="order-summary-cell col-12">
            <div class="order-option">                                                             <div class="row">
                <div class="col-12">
                    <div class="order-auth-social__payment disabled__payment">
                        <div class="payment-caption">Pay For Your order now</div>
                      
                                                    <div width="100" id="paypal-button-container"></div>
                                             
                                </div>
                            </div>

                        
                        </div>
                            
            </div>
            <div class="go-back nav-step go_back_link d-none-back-button d-block d-lg-none back-button" >Back</div>
        </div>   
            </div>
            <div class="summary__wrapper--sidebar">
                <div class="summary__wrapper-stickly">
                    <div class="summary__wrapper">
                        <div class="summary__item summary__item--essaytitle">
                            <div class="summary__title">Summary: {{item.topic}}</div>
                        </div>
                        <div class="summary_pane scroll-pane ">                        
                            <div class="summary__item summary__item--essayblock ">
                           
                                   
                                    <div class="top_for_client--block"><span class="top_for_client"></span><span class="top_for_client--price base-price-summary"></span></div>
                                                                                                                      
                                <p class="top_for_client--block top_for_client-light">Quantity: <span class="quantity_for_client">{{item.order.pages}}</span></p>
                                <div class="top_for_client--block  top_for_client-light ">
                                    <span class="top_client-name">Deadline:</span> <span class="deadline_for_client">{{item.order.deadline|date:"Y-m-d H:m"}}</span>                             
                                </div> 
                                <div class="top_for_client--block top_for_client-light">
                                    <span class="top_client-name">Academic Level:</span>
                                    <span class="aclevel_for_client"><span>{{item.order.academic_level}}</span></span>                               
                                </div> 
                                <div class="top_for_client--block top_for_client-light" style="display:none;">
                                    <span class="top_client-name">Subject area:</span>
                                    <span class="subject_area-block text-right">{{item.subject}}</span>                               
                                </div>
                                <div class="top_for_client--block top_for_client-light">
                                    <span class="top_client-name">Slides:</span>
                                    <span class="slides_for_client"><span></span></span>
                                </div>
                            </div>                       
                        </div>
                        <div class="price-all-con">                            
                            <div class="price-all-container">
                                <div class="price-all-container-bl">
                                    <div class="total-price"><span>TOTAL</span><span class="price" data-ph-tst="of-prc">${{item.price}}</span></div>   
                                </div>
                            </div>   
                        </div>                       
                    </div>
                </div>
            </div>                                                                           
        </div>
    </div>     
</form>
{% endblock order %}

{% block extrajs %}

{% endblock extrajs %}
