{% extends "order/base.html" %}

{% block order %}
<form  action="{{order.get_absolute_url}}" method="post" enctype="multipart/form-data" id="form-order2">
    {% csrf_token %}
    <div class="row justify-content-center">
    <div class="order-setep__wrapper">    
        <div class="row">
        <div class="col-lg-8">
            <div >
                <div id="form--quick" class="content__inner" style="display:block" >
                    <div class="order-form-inner element-block">
                        <div class="subject__block">
                            <div class="wrap-lable">Subject area</div><div class="wrap-optional">(optional)</div>
                        </div>
                        <div class="wrap-select-arrow block-subject" data-hide-block-calculations="1">
                            <select "subject" data-placeholder="Choose" id="subject" name="subject" class="form-control select__custom select2-of">
                                <option></option>
                                <option  value="Accounting">Accounting</option>
                                <option  value="Theology">Theology</option>
                                <option   value="Tourism">Tourism</option>
                                <option   value="Women and gender studies">Women and gender studies</option>
                                <option   value="World affairs">World affairs</option>
                                <option   value="World literature">World literature</option>
                                <option   value="Other">Other</option>
                            </select>
                            <div class="wrap-lable subject_error_place"></div>
                        </div>

                        <div class="wrap-lable">Paper Instructions<span class="empty-margin"></span></div>
                        <div class="_files-drop-zone topic-paper-details-block">
                            <div class="topic-block" >
                                    <input placeholder="Your Topic" id="topic" class="form-element mb-2" value="" data-column-name="topic" type="text" name="topic" required>
                            </div>
                                <div class="_files-drop-zone-con">
                                <textarea name="paper_details" class="form-control mb-4" id="instructions" name="instructions"  placeholder="Describe your paper details in at least 3 words in English" required></textarea>
                                <input type="file" name="filesupload" class="form-control m-auto my-3">
                    
                            </div>
                        </div>
                        <div class="wrap-lable topic_error_place"></div>
                        <div class="wrap-lable paper_details_error_place"></div>
                        <div class="help-text">Upload your files here, if any. The file size limit is 100 Mb per file - otherwise, please contact support team for help.</div>
                

                        <div class="paper-format--block " >
                        <div class="container-row">
                            <div class="container-12">
                                <div class="wrap-lable" data-wmem-tst="of-ppr_frm">Paper Format</div>
                                <div class="paper-format__table" id="paper-format">
                                    <div class="btn-group btn-group-level btn-group-toggle d-flex justify-content-around" data-toggle="buttons">
                                        <label data-wmem-tst="of-mla" class="btn btn-secondary btn-custom" >
                                            <input type="radio"  name="MLA" id="MLA" autocomplete="off" > MLA
                                        </label>
                                        <label data-wmem-tst="of-apa" class="btn btn-secondary btn-custom ">
                                            <input type="radio" name="APA" id="APA" autocomplete="off" > APA
                                        </label>
                                        <label data-wmem-tst="of-chi_tur" class="btn btn-secondary btn-custom ">
                                            <input type="radio" name="CHICAGO"  id="Chicago-Turabian" autocomplete="off"  > Chicago/Turabian
                                        </label>
                                        <label data-wmem-tst="of-hrvd" class="btn btn-secondary btn-custom ">
                                            <input type="radio" data-column-name="paper_format" name="HARVARD" id="HARVARD" autocomplete="off" > Harvard
                                        </label>
                                    </div>
                                </div>
                                <div class="paper_format__wrapper--select">
                                    <div class="wrap-select-arrow custom-select-form block-type-of-paper">
                                        <select id="paper_format" name="paper_format" required class="dynamic-hints paper_type_select_class form-element">
                                            <option value="MLA">MLA</option>
                                            <option value="APA">APA</option>
                                            <option value="CHICAGO/TURABIAN">Chicago/Turabian</option>
                                            <option value="HARVARD">Harvard</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                <div class="wrapper__border sources_used--block">
                        <div class="row">
                            <div class="sources-col col-12 col-sm-4">
                                <div class="sources_used--block-inner">
                                    <div class="wrap-lable">Sources</div>
                                </div>
                               <input type="number" name="source" id="source" class="form-control col-12">
                            </div>

                            <div class="sources-col col-12 col-sm-4 _slides-block-step-2" id="block_slides" >
                                <div class="sources_used--block-inner">
                                    <div class="wrap-lable">PowerPoint slides</div>
                                </div>
                                <input type="number" name="ppt" id="ppt" class="form-control col-12">
                            </div>

                            <div class="sources-col sources-col-last col-12 col-sm-4">
                                <div class="sources_used--block-inner">
                                    <div class="wrap-lable">Charts & Graphs</div>
                                </div>
                                <input type="number" name="cg" id="cg" class="form-control col-12">
                            </div>
       
                        </div>
                    </div>
                    <div class="wrapper__border wrapper__border--quick">
                        <div class="order-summary">
                            <div class="order-summary__wrapper m-3">
                                <span class="wrapper__title wrapper__title--star">A-star extras <span>make your experience perfect</span></span>
                                    <div class="checkbox-v _plagiarism_report checkbox-extras-1  ms-4" data-toggle="tooltip" title="">
                                        <label for="plag-report" class="row">
                                            <input type="checkbox"   id="plag-report" name="plag-report" class="col-1">
                                            <div class="col-9">
                                            <span class="check-t check-text">
                                                <div class="extras__wrapper">
                                                    <div class="extras__wrapper--top">
                                                        <div class="extras__title">Plagiarism Report</div><div class="extras__price">$7.99</div>
                                                    </div>
                                                    <div class="extras__description">Get a report that shows the level of plagiarism</div>
                                                </div>
                                            </span>
                                            </div>
                                        </label>
                                    </div>
                                <div class="d-none d-md-block checkbox-v _table_contents checkbox-extras-3 " data-toggle="tooltip" title="">
                                    <label for="table_contents" class="row">
                                        <input type="checkbox" class="col-1" name="table_contents" id="table_contents">
                                        <div class="col-10">
                                            <span class="check-t check-text">
                                                <div class="extras__wrapper">
                                                    <div class="extras__wrapper--top">
                                                        <div class="extras__title">Table of Contents</div><div class="extras__price">$5.99</div>
                                                    </div>                                        
                                                    <div class="extras__description">Add the list of headings and chapters to your paper</div>
                                                </div>
                                            </span>
                                        </div>
                                    </label>
                                </div>
                                <div class="d-none d-md-block checkbox-v _abstract_page checkbox-extras-2 " data-toggle="tooltip" title="">
                                    <label for="abstract_page" class="row">
                                        <input type="checkbox" class="col-1" name="abstract_page"  id="abstract_page">
                                       <div class="col-10">
                                        <span class="check-t check-text">
                                            <div class="extras__wrapper">
                                                <div class="extras__wrapper--top">
                                                    <div class="extras__title">Add an Abstract Page</div><div class="extras__price">$11.99</div>
                                                </div>                                        
                                                <div class="extras__description">Get a brief summary of the whole work</div>
                                            </div>
                                        </span>
                                       </div>
                                    </label>
                                </div>
                                <div class="d-none d-md-block checkbox-v _editors_check checkbox-extras-2 " data-toggle="tooltip" title="">
                                        <label for="editors_check" class="row">
                                            <input type="checkbox" class="col-1" name="editors_check"  id="editors_check">
                                            <div class="col-10">
                                                <span class="check-t check-text">
                                                    <div class="extras__wrapper">
                                                        <div class="extras__wrapper--top">
                                                        <div class="extras__title">Editor’s Check</div><div class="extras__price"></div>
                                                        </div>                                        
                                                        <div class="extras__description">Get additional proofreading by an expert English editor</div>
                                                    </div>
                                                </span>
                                            </div>
                                        </label>
                                    </div>
                            </div>
                         <div class="d-none d-md-block checkbox-v _editors_check checkbox-extras-2 " data-toggle="tooltip" title="">
                                <label for="editors_check" class="row">
                                    <input type="checkbox" class="col-1" name="editors_check" value="1"  id="editors_check">
                                    <div class="col-10">
                                        <span class="check-t check-text">
                                            <div class="extras__wrapper">
                                                <div class="extras__wrapper--top">
                                                    <div class="extras__title">Inforgraph</div><div class="extras__price">$15.99</div>
                                                </div>                                        
                                                <div class="extras__description">Get well designed infograph for your assignment</div>
                                            </div>
                                        </span>
                                    </div>
                                </label>
                            </div>
                    </div>
                    <div class="d-none d-md-block checkbox-v _editors_check checkbox-extras-2 " data-toggle="tooltip" title="">
                        <label for="editors_check" class="row">
                            <input type="checkbox" class="col-1" name="editors_check" value="1"  id="editors_check">
                            <div class="col-10">
                                <span class="check-t check-text">
                                    <div class="extras__wrapper">
                                        <div class="extras__wrapper--top">
                                            <div class="extras__title">Copy of Sources</div><div class="extras__price">$19.32</div>
                                        </div>                                        
                                        <div class="extras__description">Get reference materials used in your assignment</div>
                                    </div>
                                </span>
                            </div>
                        </label>
                    </div>
            </div>
                    
            </div>
            <div class="go-back nav-step go_back_link d-none d-lg-block back-button go-to-step-1" data-ph-tst="of-go_back">Go back
            </div>
        </div>
        {% include "order/sections/summary-detail.html" %}
        </div>
    </div>                               
    </div>
</form>
{% endblock order %}



{% block extrajs %}
<script>

const form = $("#form-order2")



function validate(){
    return {
        subject: $("#subject").val(),
        topic: $("#topic").val(),
        instructions: $("#instructions").val(),
        // files:$("#files")[0].files,
        csrfmiddlewaretoken: document.getElementById("form-order2")[0].value,
        paper_format: $("#paper_format").val(),
        sources: $("#source").val(),
        ppt: $("#ppt").val(),
        cg: $("#cg").val(),
        plag_report:  $("#plag-report").val(),
        table_contents: $("#table_contents").val(),
        abstract_page: $("#abstract_page").val(),
        editors_check: $("#editors_check").val(),
    }
}



        //files:$("#files").files[0],
        //paperformat: $("#paper_format--select").val(),

$(form).on("submit", function(e){
    e.preventDefault();
    $.ajax({
        type: "POST",
        url: $(this).action,
        data: {
            ...validate()
        },
        success: function(res){
            console.log(res)
            window.location.href = res.path
        },
        error: function(e){
            console.log(e)
        }

    })
})

</script>
{% endblock extrajs %}